<div id="products" class="grid-x grid-margin-x grid-margin-y">
    {{#repeat 25}}
    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/resist.jpg" alt="imagen de producto">
        <img class="hover" src="assets/img/products/resist_2.jpg" alt="imagen de producto">
        <span class="label promo">2 por 5%<i class="fi-shopping-cart"></i></span>
    </div>
    {{/repeat}}
</div>
<hr>
<div class="grid-x small-12 medium-3 medium-offset-9 text-uppercase text-right">
    <a href="#" class="button">Listar todos</a>
</div>